.Explanations-Container {
  background-color: rgb(254, 249, 245);
  padding-bottom: 0.5em;
  padding-top:0.5em;
}

.Heading-Images {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 80vh;
  width: 70vw;
  margin: auto;
}

.Pic {
  border: none;
  height: 65vh;
  width: 20vw;
  border-radius: 9em;
}

.Explanations-Para {
  width: 75vw;
  margin: auto;
  font-size: x-large;
  line-height: 1.8;
}

.Explanations-Para mark {
  background-color: black;
  color: white;
}

.image-container {
  position: relative;
}

.image-caption {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -100%);
  z-index: 1;
  text-align: center;
  color: white;
  font-size: 3em;
  font-weight: bold;
}
@media screen and (max-width: 1000px) {
  .image-caption {
    font-size: 2.4em;
  }
  .Heading-Images {
    justify-content: space-evenly;
    height: auto;
    width: auto;
  }
  .Pic {
    height: auto;
  }
}
@media screen and (max-width: 768px) {
  .Explanations-Para {
    font-size: larger;
  }
  .Heading-Images {
    justify-content: space-evenly;
    height: auto;
    weight: auto;
  }
  .Pic {
    border: none;
    height: 30vh;
    width: 21vw;
    border-radius: 9em;
  }
  .image-caption {
    font-size: 1.7em;
  }
  .Explanations-Para {
    margin-top: 1em;
  }
}
@media screen and (max-width: 486px) {
  .Heading-Images {
  }
  .image-container {
    margin: 0.25em;
  }
  .Pic {
    border: none;
    height: 34vh;
    width: 28vw;
    border-radius: 9em;
  }
  .image-caption {
    font-size: 1.4em;
  }

  .Explanations-Para {
    width: 75vw;
    font-size: large;
    line-height: 1.5;
  }
}
