.About-Container {
  display: flex;
  flex-direction: row;
  height: fit-content;
  align-items: center;
  min-width: 100vw;
  background-color: rgb(254, 249, 245);
}
.About-Prop {
  height: 100%;
  width: 65vw;
}
.About-Content {
  width: 56vw;
  margin: auto;
}
.About-Prop-Heading {
  font-size: 4em;
  margin-bottom: 0;
}
.About-Prop-SubHeading {
  margin: 0;
  font-weight: lighter;
  font-size: 2em;
  margin-bottom: 0.1em;
}
.About-Prop-Para {
  font-size: 1.2em;
  transition: transform 0.6s ease;
}
.About-Prop-Para:hover {
  transform: scale(1.05);
}
.About-Image-prop {
  align-items: center;
  justify-content: center;
  margin: auto;
}
.AboutIMG {
  align-items: center;
  height: 100%;
  width: 25vw;
  transition: transform 0.4s ease;
}
.AboutIMG:hover {
  transform: scale(1.05);
}
@media screen and (max-width: 768px) {
  .About-Prop-Heading {
    font-size: 3em;
  }
  .About-Prop-SubHeading {
    font-size: 1.5em;
  }
  .About-Prop-Para {
    font-size: 1.2em;
  }
}
@media screen and (max-width: 480px) {
  .About-Container {
    display: flex;
    flex-direction: column-reverse;
    padding: 1em;
  }
  .AboutIMG {
    height: 34vh;
    width: 68vw;
  }
  .About-Prop {
    width: auto;
  }
  .About-Content {
    width: auto;
    padding: 0.5em;
  }
  .About-Prop-Heading {
    font-size: 2.5em;
  }
  .About-Prop-SubHeading {
    font-size: 1.5em;
  }
  .About-Prop-Para {
    font-size: 1em;
  }
}
