.ShortIntro {
  text-align: center;
  font-size: 1.7rem;
  padding: 0.5em;
  letter-spacing: 0.08rem;
  line-height: 1.5;
  font-weight: lighter;
  background-color: black;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
  position: relative;
}

.ShortIntro.video-background {
  background-color: transparent;
}

.background-video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.text-content {
  position: relative;
  z-index: 1;
  align-items: center;
}

.IntroSlogan {
  font-family: Arial, Helvetica, sans-serif;
  background: linear-gradient(to right, #f32170, #ff6b08, #cf23cf, #eedd44);
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
}
.Intro-text {
  font-size: 1.5rem;
  width: 70vw;
  padding: 2em;
  font-style: italic;
}
.Intro-text:hover {
  border: 0.5em solid white;
}
#Get-Btn {
  height: 4em;
  width: 17em;
  background-color: white;
  font-size: 1rem;
  border: 0.5px solid black;
  font-weight: 900;
}

#Get-Btn:hover {
  cursor: pointer;
  border: 4px solid orange;
  font-size: 1rem;
}

.HeroP-Slogan2 {
  text-align: center;
  display: flex;
  overflow: hidden;
  justify-content: center;
  align-items: center;
  background-color: rgb(254, 249, 245);
  padding: 1em;
}

.Video-2 {
  margin-top: 3em;
  width: 83vw;
  height: 44vw;
  position: relative;
  border-radius: 10em;
  border: none;
}

.HeroP-Content {
  position: absolute;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: xx-large;
}

@media screen and (max-width: 1150px) {
  .HeroP-Slogan2 {
    height: fit-content;
  }
  .Video-2 {
    width: 95%;
    height: 52%;
    border-radius: 10em;
  }
}

@media screen and (max-width: 768px) {
  .ShortIntro {
    font-size: 1.5em;
  }
  .Intro-text {
    margin: auto;
    padding: 1em;
  }
  .heropagecontainer {
    display: block;
    height: fit-content;
  }
  .HeroP-Content {
    font-size: larger;
  }
  .HeroP-Slogan2 {
    height: fit-content;
  }
  .Video-2 {
    width: 100%;
    height: 52%;
    border-radius: 4em;
  }
  .HeroP-Content h1 {
    font-size: 1.5em;
  }
  .HeroP-Content p {
    font-size: medium;
  }
}

@media screen and (max-width: 480px) {
  .ShortIntro {
    font-size: 0.7rem;
    padding: 1em;
  }
  .Intro-text {
    margin: auto;
    padding: 1em;
  }
  .ShortIntro.video-background {
    height: fit-content;
  }
  .HeroP-Slogan2 {
    height: fit-content;
  }

  .HeroP-Content {
    position: absolute;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: large;
  }
  .HeroP-Content h1 {
    font-size: large;
  }
  .HeroP-Content p {
    font-size: medium;
  }
}
