.Footer-Section{
    color: white;
    height: 25vh;
    display: inline-flex;
    width: 100vw;
}
.Footer-Section-1{
    align-items: center;
    background-color: black;
    padding-top: 1em;
    text-align: center;
    width: 100%;
    height: 100%;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.Socials{
    background-color: black;
}
@media screen and (max-width: 650px) {
    .Socials{
        padding: 1px 10px;
    }
}