.grid-container {
  background-color: rgb(254, 249, 245);
  color: black;
}

.grid-item-odd {
  height: 60vh;
  display: flex;
}
.grid-item-even {
  height: 60vh;
  display: flex;
}

.Image-Section-odd {
  width: 40vw;
  height: 60vh;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
.Image-Section {
  width: 40vw;
  height: 60vh;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.grid-img {
  height: 50vh;
  width: 30vw;
  transition: transform 0.5s ease;
}
.grid-img:hover {
  transform: scale(1.1);
}

.Text-Section-odd {
  width: 40vw;
  height: 60vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 5em;
  transition: transform 0.4s ease;
}
.Text-Section {
  width: 40vw;
  height: 60vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 5em;
  transition: transform 0.4s ease;
}
.Text-Section:hover {
  transform: scale(1.1);
}
.Image-Heading {
  font-size: xx-large;
  font-weight: 900;
}
.Image-P {
  margin-top: 0;
}
.Text-Know-Btn {
  width: 10em;
  height: 2.5em;
  font-size: large;
  color: black;
  font-weight: bold;
  border-radius: 1em;
  border: none;
}
.Text-Know-Btn:hover {
  cursor: pointer;
  background-color: rgb(254, 249, 245);
  color: black;
}
@media only screen and (max-width: 992px) {
  .Image-Heading {
    font-size: x-large;
  }
}

@media only screen and (max-width: 768px) {
  .grid-item-odd {
    height: 64vh;
  }
  .grid-item {
    height: 64vh;
    display: flex;
  }
  .Image-Heading {
    font-size: large;
  }
  .grid-img {
    height: 36vh;
    width: 32vw;
  }
  .Text-Know-Btn {
    width: 9em;
    height: 2em;
    font-size: medium;
    color: black;
    font-weight: bold;
    border-radius: 1em;
    border: none;
  }
}
@media only screen and (max-width: 600px) {
  .grid-container {
    height: fit-content;
    padding: 2em;
  }

  .grid-item {
    height: 65vh;
    display: flex;
    overflow: hidden;
    margin-top: 2em;
  }
  .grid-img {
    height: 36vh;
    width: 32vw;
  }
  .Image-Heading {
    font-size: large;
  }
  .Image-P {
    margin-top: 0;
    font-size: medium;
  }
  .Text-Know-Btn {
    width: 8em;
    height: 2em;
    font-size: medium;
    color: black;
    font-weight: bold;
    border-radius: 1em;
    border: none;
  }
  .Text-Section {
    margin-left: 2em;
  }
}
@media screen and (max-width: 768px) {
  .grid-item-even {
    height: auto;
    padding: 2em;
  }
  .grid-item-odd {
    height: auto;
    padding: 2em;
  }
  .Image-Section {
    width: auto;
    height: auto;
  }
  .Text-Section {
    width: auto;
    height: auto;
  }
  .Image-Section-odd {
    width: auto;
    height: auto;
  }
  .Text-Section-odd {
    width: auto;
    height: auto;
    margin: 0em;
    padding: 0.5em;
  }
}
@media screen and (max-width: 480px) {
  .grid-container {
    height: fit-content;
    padding: 1em;
  }
  .grid-item {
    display: block;
    padding: 1em;
  }
  .grid-item-odd {
    display: flex;
    flex-direction: column;
    padding: 1em;
    height: auto;
  }
  .grid-item-even {
    display: block;
    padding: 1em;
    height: auto;
  }
  .Image-Section {
    display: block;
    text-align: center;
    margin-bottom: 0.5em;
    width: auto;
    height: auto;
  }
  .Text-Section {
    width: auto;
    height: auto;
    margin: auto;
  }

  .grid-img {
    width: 17em;
    height: 14em;
  }
  .Image-Section-odd {
    order: 1;
    text-align: center;
    width: auto;
    height: auto;
    justify-content: space-around;
  }
  .Text-Section-odd {
    order: 2;
    width: auto;
    margin: auto;
    height: auto;
    margin-top: 0.5em;
  }
}
